* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: #fff;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
}
@media screen and (max-width: 1200px) {
    .circle{
        display: none;
    }
}